*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: rgb(25, 73, 57);
    color: azure;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
}
