*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#main-body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(165, 165, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}    
#panel{
    height: 85%;
    width: 80%;
    background-color: azure;
    border-radius: 10px;
    overflow: hidden;
}
#ptop{
    width: 100%;
    height: 11%;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 100px 0 100px;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border-radius: 5px;
    width: 30px;
    font-weight: 600;
    color: rebeccapurple;
    height: 35px;
}
.elem h2{
    font-weight: 100;
    font-size: 20px;
    color: azure;
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 11%);
    flex-wrap: wrap;
    padding: 10px;
    background-color: azure;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
    border-radius: 50%;
    color: azure;
    margin: 5px;
    cursor: pointer;
}
.bubble:hover{
    background-color: rgb(77, 37, 117);
}

#game-over{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: 25px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    background-color: rebeccapurple;
}
#game-start{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: 25px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    background-color: rebeccapurple;
    cursor: pointer;
}